*
{
    margin:0;
    box-sizing: border-box;
}

.para1
{
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-image: url("https://picsum.photos/id/1005/1920/1024");
    width: 100vw;
    height: 100vh;
}

.para2
{
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-image: url("https://picsum.photos/id/1011/1920/1024");
    width: 100vw;
    height: 100vh;
}

.no
{
    background-color: rgba(0, 0, 0, 0);
    width: 100vw;
    height: 60vh;
}

.black
{
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-color: black;
    width: 100vw;
    height: 60vh;
}

.content
{
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
}

.top
{
    font-size: 10px;
    padding:20px;
    font-family: Helvetica, sans-serif;
}

.bottom
{
    color: rgb(64, 0, 255);
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    padding:20px;
}