*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.pic
{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover; /* Cover entier box*/
    text-align: center;
    color: whitesmoke;
}
.top
{
    background-image: url("https://picsum.photos/id/1005/1920/1024");
}

.bot
{
    background-image: url("https://picsum.photos/id/1011/1920/1024");
}

.middle
{
    width: 100vw;
    height: 40vh;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cont
{
    background-color: black;
    display: block;

}
.content
{
    display: inline-block;
    margin-top: 50vh;
    font-size: 14px;
}